<template name="home">
  <div class="template-home">
    <div class="page-header">
      <h1>Willkommen bei der SG Siemens Web Application</h1>
    </div>
        <p>
        <blockquote>

        Im Siemens- Industriepark Karlsruhe wurde am 15.04.2007 das Bewegungszentrum der Sportgemeinschaft Siemens Karlsruhe eröffnet.
        Auf über 500 qm Fläche erwartet Sie ein abwechslungsreiches Sport- und Kursangebot. Vom Gesundheits- bis zum Kraftsport finden Sie ideale Trainingsbedingungen. Das Besondere ist, dass 19 Kraft- und 10 Cardiogeräte elektronisch gesteuert sind und eine getrennte Einstellung (kilogrammweise) von konzentrischer und exzentrischer Belastung vorgenommen werden kann.
        Die Trainingsparameter an den einzelnen Geräten werden auf Ihrer persönlichen Chipkarte gespeichert. Die Trainingsgeräte stellen sich sekundenschnell auf Ihre speziell eingestellten Werte ein. Der zeitliche Trainingsaufwand ist somit geringer, als mit herkömmlichen Trainingsgeräten.
        Es ist immer ein Ansprechpartner vor Ort, der beratend zur Seite steht.
        Dipl. Sportlehrer, Sportlehrer, Dipl. Pädagoge und speziell ausgebildete Kursleiter bilden das Team.
    <br>
      </blockquote>

        <h4>Die offiziele Homepage finden Sie <a target="_blank" href=" http://www.sgsiemens-bewegungszentrum.de/">hier</a>. </h4>
    </p>
    <p>
      <h3>Diese Web Application entsteht im Rahemen eines kleinen Hobbyprojektes und ist zur Zeit in der <em>Entwicklung.</em></h3>
    </p>

  </div>
</template>
